@import './color-palette.scss';

.table-main{
    overflow-x: auto;
    position: relative;

    table{
        color: $text-main;
        font-size: 14px !important;
        width: 100%;

    }

    th{
        font-weight: 500 !important;
        text-align: start !important;
        border-bottom: 1px solid rgb(226,232,240);
    }

    td{
        font-weight: 400 !important;
        text-align: start !important;
    }

    th, td{
        min-width: max-content;
        white-space: nowrap;
    }

    thead{
        font-size: 16px !important;
        background-color: transparent;
    }
}
