<div class="grid grid-cols-12 gap-4">
    
    <!-- currency converter card -->
    <form [formGroup]="currencyConverterForm" class="bg-white p-4 card col-span-5" (submit)="convertCurrencies()">
        <h2>Converter</h2>

        <!-- amount input -->
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Amount</mat-label>
            <input min="1" type="number" (keyup)="checkFormValidity()" formControlName="amount" matInput placeholder="Add amount to convert">
            <mat-error *ngIf="getError('amount', 'required')">This field is required</mat-error>
            <mat-error *ngIf="getError('amount', 'min')">Value should be at least 1</mat-error>
        </mat-form-field>


        <div class="d-flex justify-between">
            <!-- from currency -->
            <div class="grow">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Currency (from)</mat-label>
                    <mat-select disableRipple formControlName="from">
                        <mat-option *ngFor="let currency of allCurrencies" [value]="currency.symbol">{{currency.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="getError('from', 'required')">This field is required</mat-error>
                  </mat-form-field>
            </div>

              <button (click)="swapFromAndToCurrencies()" [disabled]="currencyConverterForm.get('amount').invalid" type="button" class="circular-btn mx-2 transform-btn">
                <mat-icon svgIcon="heroicons:arrow-right-left"></mat-icon>   
              </button>

              <div class="grow">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Currency (to)</mat-label>
                    <mat-select disableRipple formControlName="to">
                      <mat-option *ngFor="let currency of allCurrencies" [value]="currency.symbol">{{currency.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="getError('to', 'required')">This field is required</mat-error>
                  </mat-form-field>
              </div>
        </div>

        <div class="d-flex justify-end">
            <button [disabled]="currencyConverterForm.invalid" type="submit" class="ml-auto primary-btn">Convert</button>
        </div>
    </form>

    <!-- curency converter result -->
    <div class="bg-white p-4 card col-span-7 d-flex flex-col pt-10 relative">
        <div class="absolute top-15 right-15 p-2">
            <button (click)="goToDetailsPage()" class="circular-btn">
                <mat-icon svgIcon="heroicons:eye"></mat-icon>  
            </button>
        </div>
        <h2>Result</h2>
        <div class="d-flex flex-col justify-between grow">
            <div *ngIf="convertedCurrency && convertedCurrency.result[currencyConverterForm.get('to').value] else noConversion" class="header d-flex items-center">
                <span class="text-2xl">{{convertedCurrency.amount | number}} {{convertedCurrency.base}}</span>
                <mat-icon svgIcon="heroicons:arrow-long-right" class="mx-4 text-primary icon-big"></mat-icon>  
                <span class="text-2xl">{{convertedCurrency.result[currencyConverterForm.get('to').value]}} {{currencyConverterForm.get('to').value}}</span>
            </div>
            <ng-template #noConversion>
                <div class="header text-2xl">Please click on convert to see the output</div>
            </ng-template>
            <p class="mt-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis, ratione beatae possimus ipsum minima ad ipsam mollitia inventore consectetur in minus animi quaerat. Mollitia rem tenetur facilis quam! Repudiandae.
            </p>
        </div>
    </div>
</div>
