.main-content{
    min-height: 100vh;
    height: 100%;
}

.sidenav-content{
    width: 280px;
}

.navbar-position{
    position: sticky;
    top: 0;
    z-index: 100;
}

.overflow-hidden{
    overflow: hidden !important;
}

.overflow-y-auto{
    overflow-y: auto !important;
}